@charset "UTF-8";

/*加载主要样式*/

.loader-wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    &:after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6)
    }
    &.loader-show{
        pointer-events: auto;
        opacity: 1;
        >.loader-main{
            animation: loaderAnimation 0.5s ease forwards;
        }
    }
}

.loader-main {
    background: #fff;
    padding-top: 1px;
    padding: r(30);
    display: inline-block;
    text-align: center;
    z-index: 1000;
    border-radius: $round;
    position: absolute;
    left: 50%;
    top: 50%;
//    transform: translate(-50%,-50%);
    animation: cancelLoaderAnimation 0.3s ease forwards;
}
@keyframes loaderAnimation{
    0%{
        opacity: 0; 
        transform: translate(-50%,-50%) scale(1.5);
    }
    100%{
        opacity: 1 ;
        transform: translate(-50%,-50%) scale(1);
    }
}

@keyframes cancelLoaderAnimation{
    0%{
        opacity: 1 ;
        transform: translate(-50%,-50%)  scale(1);
    }
    100%{
        opacity: 0; 
        transform: translate(-50%,-50%)  scale(1.5);
    }
}



//加载样式一
.loader {
    display: inline-block;
    border-radius: r(80);
    height: r(40);
    >i {
        display: inline-block;
        width: r(40);
        height: r(40);
        border-radius: r(40);
        opacity: 1;
        transform: scale(1);
        background: $color-main;
        &:nth-child(1) {
            -webkit-animation: loader 1s ease-out infinite -0.5s;
            animation: loader 1s ease-out infinite -0.5s;
        }
        &:nth-child(2) {
            -webkit-animation: loader 1s ease-out infinite -0.25s;
            animation: loader 1s ease-out infinite -0.25s;
        }
        &:nth-child(3) {
            -webkit-animation: loader 1s ease-out infinite;
            animation: loader 1s ease-out infinite;
        }
    }
}
.loader-second{
    >i{
        background: $color-second
    }
}
.loader-red{
    >i{
        background: $color-red
    }
}
.loader-blue{
    >i{
        background: $color-blue
    }
}
.loader-green{
    >i{
        background: $color-green
    }
}
.loader-orange{
    >i{
        background: $color-orange
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

@keyframes loader {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}



//加载样式二
.loader1 {
    display: inline-block;
  font-size: r(22);
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid rgba(0, 0, 0, 0.1);
  border-right: 0.2em solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.2em solid rgba(0, 0, 0, 0.1);
  border-left: 0.2em solid $color-main;
  -webkit-animation: load1 1.1s infinite linear;
  animation: load1 1.1s infinite linear;
}
.loader1,
.loader1:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
@-webkit-keyframes load1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader1.loader1-second{
    border-left-color: $color-second
}
.loader1.loader1-red{
    border-left-color: $color-red
}
.loader1.loader1-blue{
    border-left-color: $color-blue
}
.loader1.loader1-green{
    border-left-color: $color-green
}
.loader1.loader1-orange{
    border-left-color: $color-orange
}
